<section id="sobreMi" class="animated fadeIn" #sobremi>
  <div>
    <header>
      <h1 style="font-weight: 400;">JOSÉ BRANDO</h1>
      <h1 style="font-weight: 600;">CORTÉS MARTÍNEZ</h1>
      <h5>Ingeniero en Sistemas Computacionales</h5>
    </header>

    <article>
      <div>
        <h6 class="margin-bottom">Experiencia</h6>
        <p class="padding-bottom">Febrero 2020 - Agosto 2020, Programador Junior en Desiteg</p>
        <ul style="list-style: outside;" class="ml-20">
          <li>
            <small>Desarrollo de extensiones para navegadores web, en donde cada una tiene como finalidad realizar
              recargas electrónicas y pago de servicios de diferentes compañias. Este proyecto se desarrolló basándose
              en la metodología ágil Scrum y se utilizó HTML5, CSS3, JavaScript, jQuery, Git, GitHub y consumo de API
              Rest.</small>
          </li>
          <li><small>Desarrollo de una plataforma web para realizar recargas electrónicas y pago de servicios de
              diferentes compañías, su desarrollo se baso en la metodología ágil Scrum y se utilizó PHP, CodeIgniter,
              JavaScript, jQuery, CSS3, HTML5, Bootstrap, MySQL, Git, GitHub y consumo de API REST.</small></li>
          <li>
            <small>Documentar los Web Services SOAP de la plataforma FiscalCloud.</small>
          </li>
          <li>
            <small>Diseño y desarrollo de bases de datos relacionales.</small>
          </li>
        </ul>

        <br>
        <p class="padding-bottom">Abril 2019 - Noviembre 2019, Programador Web Freelance</p>
        <ul style="list-style: outside;" class="ml-20">
          <li>
            <small>Desarrollo de aplicaciones web para clientes como nutrifitaca de Acapulco, Gro. En donde se le
              desarrollo su sitio web con Angular y se trabajó remotamente en equipo con Git y GitHub.</small>
          </li>
          <li><small>Se usaron tecnologías como HTML5, CSS3, Bootstrap, JavaScript, TypeScript, Angular 8, PHP, MySQL y
              WordPress.</small></li>
        </ul>

        <br>
        <p class="padding-bottom">Septiembre 2018 - Enero 2019, Hotel Casa del Lirio de Acapulco, Gro.</p>
        <ul style="list-style: outside;" class="ml-20">
          <li>
            <small>Desarrollo del sitio web oficial del Hotel Casa del Lirio y posicionamiento SEO.</small>
          </li>
          <li><small>Desarrollo de un panel administrativo para actualizar los precios de las habitaciones, subir
              promociones y recibir mensajes a la cuenta de correo electrónico.</small></li>
          <li><small>Se uso JavaScript, jQuery, TypeScript, Angular 8, HTML5, CSS3, Bootstrap, PHP y MySQL.</small></li>
        </ul>

        <br>
        <p class="padding-bottom">Febrero 2018 - Julio 2018, Residencia Profesional ITA</p>
        <ul style="list-style: outside;" class="ml-20">
          <li>
            <small>Desarrollo del proyecto "Segmentación de masas en imágenes de mamografías" que tuvo como finalidad
              desarrollar una aplicación de escritorio en Java para identificar posibles masas en las imágenes de
              mamografías que pudieran ser tumores a partir de la implementación de algoritmos de IA.</small>
          </li>
        </ul>
      </div>
      <br />

      <div class="text-center">
        <h6 class="margin-bottom">Educación</h6>
        <div><small>Tecnológico Nacional de México</small></div>
        <div><small>Instituto Tecnológico de Acapulco</small></div>
        <div><small>Ingeniería en Sistemas Computacionales</small></div>
        <div><small>(Agosto 2013 - Agosto 2018)</small></div>
      </div>
      <br>

      <div>
        <h6 class="margin-bottom text-center">Conocimientos Generales</h6>
        <div>
          <small>PHP, CodeIgniter, Java SE, Java EE, JavaScript, AJAX, jQuery, NodeJS, CSS3, Bootstrap, HTML5, Angular, JSON,
            XML, WebServices, MVC, Git, GitHub, MongoDB, MySQL, PostgreSQL, SQL Server, Linux (Ubuntu, Mint, Lubuntu) y
            Windows.</small>
        </div>
      </div>
    </article>

    <aside>
      <div><img src="assets/img/perfil.jpg" alt="img-perfil" class="img-perfil"/></div>
      <div class="grid-vertical text-center">
        <small>Edad: 26 años</small><small>Acapulco de Juárez, Gro.</small>
      </div>
      <br />
      <div class="text-center">
        <h6 class="padding-bottom">PERFIL</h6>
        <small>
          Hola, soy Brando. Desarrollador web. Me gusta programar,
          aprender, compartir y dar lo mejor de mí.
        </small>
      </div>
      <br />
      <div class="text-center">
        <h6 class="padding-bottom">CONTACTO</h6>
        <div>
          <span class="icon-users pr-5"></span>
          <small>7811082730</small>
        </div>
        <div>
          <span class="icon-mail2 pr-5"></span>
          <small>jose.brando.c.m@gmail.com</small>
        </div>
        <div>
          <span class="icon-github pr-5"></span>
          <small>/JoseBrando</small>
        </div>
      </div>
      <br />
      <div class="text-center">
        <h6 class="padding-bottom">IDIOMAS</h6>
        <small>Inglés Intermedio</small>
      </div>
      <br />
      <!--<div class="text-center grid-vertical">
        <h6>CURSOS UDEMY</h6>
        <small>Angular fundamentos.</small>
        <small>Angular Avanzado.</small>
        <small>Java SE y EE.</small>
      </div>-->
    </aside>
  </div>
  <div>
    <img src="assets/img/cv.jpg" alt="img-cv" />
  </div>
</section>

<a class="pdf" href="assets/files/cv.pdf" download="cv.pdf" type="button" title="Descargar PDF">
  PDF
</a>
