<section class="container-sobremi animated fadeIn">
  <article class="sobremi bg-rubyred shadow">
    <div class="sobremi-titulo text-center c-white">
      <p class="padding font-size-one">Brando Cortés</p>
    </div>
    <div class="sobremi-contenido bg-white padding">
      <br />
      <figure>
        <img src="assets/img/fotoPerfil.jpg" alt="Brando Cortés" />
      </figure>
      <br />
      <p class="font-size-three">
        Hola, mi nombre es Brando Cortés y soy un desarrollador de software.
        Egrese de mi carrera profesional como Ingeniero en Sistemas
        Computacionales en diciembre del 2018.<br /><br />

        Recuerdo que cuando inicie a estudiar mi carrera profesional el lenguaje
        que más me gustaba era Java, inicie con C++, C# y finalmente Java.
        Conforme avance en mi carrera comencé a conocer las tecnologías web y a
        darme cuenta de lo extenso que es el mundo del desarrollo de software,
        ya que se crean nuevos Framework, lenguajes de programación o hay
        actualizaciones en alguna tecnología de desarrollo.<br /><br />

        Me gusta mucho la programación, el saber que se pueden crear productos
        con solo tener una idea es motivante para seguir aprendiendo. Combinando
        la creatividad con una buena lógica de programación se pueden crear
        productos de calidad que sean muy intuitivos, funcionales y seguros para
        los usuarios finales.<br /><br />

        Tengo experiencia en el uso de diferentes tecnologías para desarrollar
        aplicaciones web, aplicaciones moviles y de escritorio, así como en el
        desarrollo de bases de datos.<br /><br />

        Desarrolle este blog con el propósito de compartir contenidos de
        diferentes temas de programación y así poder seguir aprendiendo, ya que
        considero que una de las mejores maneras de seguir aprendiendo es
        enseñando.
      </p>
    </div>
  </article>
</section>
