<section id="sobreMi" class="animated fadeIn" #sobremi>
  <div>
    <header>
      <h1 style="font-weight: 400;">JOSÉ BRANDO</h1>
      <h1 style="font-weight: 600;">CORTÉS MARTÍNEZ</h1>
      <h5>Web Developer</h5>
    </header>

    <article>
      <div>
        <h6 class="margin-bottom">Experiencia</h6>
        <ul style="list-style: outside;" class="ml-20">
          <li>
            <small
              >Desarrollo de aplicaciones web utilizando Angular, HTML, CSS, JS,
              Bootstrap, PHP y MySQL.</small
            >
          </li>
          <li><small>Consumo de REST API's.</small></li>
          <li>
            <small
              >Desarrollo y mejoramiento de sitios web con Angular y
              Wordpress.</small
            >
          </li>
          <li><small>Trabajo en equipo con Git y GitHub.</small></li>
          <li>
            <small
              >He participado en todas las fases del ciclo de vida del
              desarrollo de software.</small
            >
          </li>
        </ul>
      </div>
      <br />
      <div>
        <h6 class="margin-bottom">Proyectos</h6>
        <ul class="ml-20">
          <li>
            <small
              >Desarrollo del sitio web oficial del Hotel Casa del Lirio de
              Acapulco, Gro.</small
            >
          </li>
          <li>
            <small>Desarrollo de un sistema control de inventarios.</small>
          </li>
          <li>
            <small
              >Desarrollo del sitio web oficial de Nutrifitaca de Acapulco,
              Gro.</small
            >
          </li>
        </ul>
      </div>
      <br />
      <div>
        <h6 class="margin-bottom">Habilidades</h6>
        <div class="grid-habilidades">
          <div>
            <ul class="ml-20">
              <small><b>Soft</b></small>
              <li><small>Autodidacta</small></li>
              <li><small>Trabajo en equipo</small></li>
              <li><small>Gestión del tiempo</small></li>
              <li><small>Metodología Agile Scrum</small></li>
            </ul>
          </div>
          <div>
            <ul>
              <small><b>Hard</b></small>
              <li><small>JavaScript</small></li>
              <li><small>HTML</small></li>
              <li><small>CSS</small></li>
              <li><small>Angular</small></li>
              <li><small>PHP</small></li>
              <li><small>Java</small></li>
              <li><small>MySQL</small></li>
              <li><small>Wordpress</small></li>
              <li><small>Git y GitHub</small></li>
            </ul>
          </div>
        </div>
      </div>
      <br />
      <div>
        <h6 class="margin-bottom">Logros personales</h6>
        <ul class="ml-20">
          <li>
            <small
              >Desarrollo de mi sitio web personal para compartir diferentes
              temas de programación y así poder seguir aprendiendo.</small
            >
          </li>
        </ul>
      </div>
    </article>

    <aside>
      <div><img src="assets/img/fotoPerfil.jpg" alt="img-perfil" /></div>
      <div class="grid-vertical text-center">
        <small>Edad: 25 años</small><small>Querétaro</small>
      </div>
      <br />
      <div class="text-center">
        <h6>PERFIL</h6>
        <small>
          Hola, soy Brando. Desarrollador web freelance. Me gusta programar,
          aprender y mejorar mis habilidades de programación.
        </small>
      </div>
      <br />
      <div class="text-center">
        <h6>CONTACTO</h6>
        <div>
          <span class="icon-users pr-5"></span>
          <small>7811099167</small>
        </div>
        <div>
          <span class="icon-mail2 pr-5"></span>
          <small>brandocortes10@gmail.com</small>
        </div>
        <div>
          <span class="icon-github pr-5"></span>
          <small>/JoseBrando</small>
        </div>
        <div><small>https://brandocortes.com</small></div>
      </div>
      <br />
      <div class="text-center">
        <h6>IDIOMAS</h6>
        <small>Inglés (Lectura).</small>
      </div>
      <br />
      <div class="text-center grid-vertical">
        <h6>EDUCACIÓN</h6>
        <small>Instituto Tecnológico de Acapulco.</small>
        <small>Ingeniería en Sistemas Computacionales.</small>
        <small>(Diciembre 2018).</small>
      </div>
      <br />
      <div class="text-center grid-vertical">
        <h6>CURSOS UDEMY</h6>
        <small>Angular fundamentos.</small>
        <small>Angular Avanzado.</small>
      </div>
    </aside>
  </div>
  <div>
    <img src="assets/img/cv.jpg" alt="img-cv" />
  </div>
</section>

<a
  class="pdf"
  href="assets/files/cv.pdf"
  download="cv.pdf"
  type="button"
  title="Descargar PDF"
>
  PDF
</a>
