<section id="home" class="animated fadeIn">
  <article class="container-image-intro text-center">
    <h1 class="c-white">
      Bienvenid@ a mi sitio web
    </h1>
    <h3 class="c-white">Conoce más sobre mí</h3>
    <br />
    <h4 class="c-white contact-mail">jose.brando.c.m@gmail.com</h4>
  </article>

  <article class="container-presentacion text-center">
    <div>
      <div class="container-fas">
        <i class="fas fa-user fa-4x margin-bottom c-white"></i>
      </div>
      <h2>¿Quién es Brando?</h2>
      <br />
      <h5>
        Es un Ingeniero en Sistemas Computacionales que le gusta desarrollar
        software, siempre en búsqueda de nuevas oportunidades que afecte
        positivamente en mi crecimiento personal y profesional. Me considero una
        persona autodidacta, disciplinado, responsable, perseverante y
        proactivo.<br />
        Me gusta programar, aprender nuevas tecnologías, convivir con la
        naturaleza y conocer nuevos lugares.
      </h5>
    </div>
  </article>
</section>
