<section id="home" class="animated fadeIn">
  <article class="container-image-intro text-center">
    <h1 class="c-white">¡Hola, bienvenid@!</h1>
  </article>

  <article class="container-presentacion text-center">
    <!-- <div class="b-shadow border-radius bg-white"> -->
    <div>
      <div class="container-fas">
        <!--<i class="fas fa-user fa-4x mb-10 c-white"></i>-->
        <img src="../../../assets/img/robot.png" class="perfil">
      </div>
      <h2>¿Quién es Brando?</h2>
      <br />
      <h5>
        Es un Ingeniero en Sistemas Computacionales que le gusta desarrollar
        software, siempre en búsqueda de nuevas oportunidades que afecte
        positivamente en mi crecimiento personal y profesional. Me considero una
        persona autodidacta, disciplinado, responsable, perseverante, productivo y
        proactivo.<br />
        Me gusta programar, aprender nuevas tecnologías, conocer nuevos lugares, nuevas amistades,
        aportar mi granito de arena para cuidar nuestro planeta y mejorar como sociedad.
      </h5>
    </div>
  </article>

  <article class="w-75 d-flex flex-column align-items-center ml-auto mr-auto mb-100">
    <header class="mt-30">
      <h2>Tecnologías</h2>
    </header>

    <div class="d-grid columns grid-gap-20 p-50">
      <div class="circle bg-html d-flex-center m-auto">
          <h2 class="c-white">HTML</h2>
      </div>

      <div class="circle bg-css d-flex-center m-auto">
          <h2 class="c-white">CSS</h2>
      </div>
      
      <div class="circle bg-yellow d-flex-center m-auto">
        <h2>JS</h2>
      </div>

      <div class="circle bg-ts d-flex-center m-auto">
          <h2 class="c-white">TS</h2>
      </div>

      <div class="circle bg-angular d-flex-center m-auto">
          <h2 class="c-white">A</h2>
      </div>

      <div class="circle bg-vue d-flex-center m-auto">
          <h2 class="c-vue">Vue</h2>
      </div>

      <div class="circle bg-php d-flex-center m-auto">
          <h2>PHP</h2>
      </div>

      <div class="circle bg-codeigniter d-flex-center m-auto">
          <h5 class="c-codeigniter">CodeIgniter</h5>
      </div>

      <div class="circle bg-node d-flex-center m-auto">
          <h3 class="c-node">node <small>js</small></h3>
      </div>

      <div class="circle bg-mysql d-flex-center m-auto">
          <h3 class="c-mysql">MySQL</h3>
      </div>

      <div class="circle bg-git d-flex-center m-auto">
          <h2 class="c-white">git</h2>
      </div>
      <div class="circle bg-gray d-flex-center m-auto">
        <h4>Web Service</h4>
      </div>
    </div>
  </article>
</section>
