<section class="animated fadeIn">
  <article class="container-image-intro text-center">
    <h1 class="font-size-title-one c-white c-rubyred-first-letter">
      Bienvenid@ a mi sitio web
    </h1>
  </article>

  <article class="container-presentacion text-center">
    <div>
      <p class="font-size-title-one">¿Quién es Brando Cortés?</p>
      <p class="font-size-two">
        Es un Ingeniero en Sistemas Computacionales que le gusta desarrollar
        software, siempre en búsqueda de nuevas oportunidades que afecte
        positivamente en mi crecimiento personal y profesional. Me considero una
        persona autodidacta, disciplinado, responsable, perseverante y
        proactivo.<br />
        Me gusta programar, aprender nuevas tecnologías, convivir con la
        naturaleza y conocer nuevos lugares.
      </p>
    </div>
  </article>

  <article class="container-flex-center bg-rubyred c-white">
    <p class="font-size-title-one">¿Quieres contactarme?</p>
    <p class="font-size-one">Entonces</p>
    <br />
    <a [routerLink]="['/contacto']" class="btn-primary cursor-pointer"
      >Envíame un mensaje</a
    >
  </article>
</section>
