.container-contacto {
  height: calc(100vh - 60px);
  display: flex;
}

.container-contacto .grid-contacto {
  width: 80%;
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: auto;
  border-radius: 10px;
}

.container-contacto .grid-contacto > div:first-child ul li a:hover {
  color: rgb(116, 193, 199);
}

.grid-contacto > div:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-contacto > div:first-child > p:first-child {
  text-align: center;
}

.grid-contacto > div:nth-child(2) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.grid-contacto > div:nth-child(2) form input[type="text"],
input[type="email"],
textarea {
  width: 100%;
}
.grid-contacto > div:nth-child(2) form input[type="submit"] {
  float: right;
}

@media screen and (max-width: 1100px) {
  .container-contacto {
    height: 100%;
    display: block;
    padding: 20px 0px 20px 0px;
  }

  .container-contacto .grid-contacto {
    margin: 0 auto;
  }

  .container-contacto .grid-contacto {
    grid-template-columns: 1fr;
  }

  .grid-contacto > div:first-child {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .grid-contacto > div:first-child > p:first-child {
    text-align: left;
  }

  .grid-contacto > div:nth-child(2) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

@media screen and (max-width: 800px) {
  .container-contacto .grid-contacto {
    width: 90%;
  }
}
