<section class="container-portafolio animated fadeIn">
  <article class="cabecera-portafolio">
    <div class="bg-rubyred c-white text-center">
      <p class="font-size-one">Bienvenido a mi portafolio</p>
    </div>
  </article>
  <article class="container-proyectos">
    <div class="shadow bg-white">
      <figure>
        <img src="assets/img/lirio.jpg" alt="Hotel Casa del Lirio" />
      </figure>
      <div class="text-center bg-rubyred c-white padding font-size-two">
        Hotel Casa del Lirio
      </div>
      <div>
        Anteriormente el Hotel Casa del Lirio contaba con un sitio web que no
        era responsivo, no tenía base de datos y tampoco un panel administrativo
        para actualizar precios o alguna otra información.<br /><br />
        Con base a algunos problemas mencionados anteriormente se desarrollo el
        sitio web oficial para dicho hotel que cumpliera con todos los
        requerimientos del cliente.
      </div>
      <div class="text-center padding-div">
        <a
          href="http://www.ecomejicano.com.mx/"
          target="_blank"
          class="cursor-pointer btn-primary"
          >Ver proyecto</a
        >
      </div>
    </div>

    <div class="shadow bg-white">
      <figure>
        <img src="assets/img/n&f.jpg" alt="n&f" />
      </figure>
      <div class="text-center bg-rubyred c-white padding font-size-two">
        Nutrition and Fitness
      </div>
      <div>
        Nutrition and Fitness es un equipo profesional y multidisciplinario
        enfocados en el área de la salud y deporte. <br /><br />
        Se desarrollo su propio sitio web oficial así como una página web en
        Wordpress para publicar contenidos de nutrición, deporte, salud,
        entrenamientos, entre otros, y así contribuir en ayudar a otras personas
        a mejorar su calidad de vida.
      </div>
      <div class="text-center padding-div">
        <a
          href="http://www.nutrifitaca.com/"
          target="_blank"
          class="cursor-pointer btn-primary"
          >Ver proyecto</a
        >
      </div>
    </div>
  </article>
</section>
