<section id="portafolio" class="animated fadeIn">
  <header>
    <h3>Bienvenido a mi portafolio</h3>
  </header>
  <br />
  <section>

    <article>
      <div><img src="assets/img/lirio.jpg" alt="img-hotel" /></div>
      <div>
        <h4>Hotel Casa del Lirio</h4>
      </div>
      <div>
        <p>
          Anteriormente el Hotel Casa del Lirio contaba con un sitio web que no
          era responsivo, no tenía base de datos y tampoco un panel
          administrativo para actualizar precios o alguna otra información.
          <br /><br />
          Con base a algunos problemas mencionados anteriormente se desarrollo
          el sitio web oficial para dicho hotel que cumpliera con todos los
          requerimientos del cliente.
        </p>
      </div>
      <div>
        <a type="button" href="http://www.ecomejicano.com.mx/" class="btn-primary cursor-pointer" target="_blank">
          Ver más...
        </a>
      </div>
    </article>

    <article>
      <div>
        <img src="assets/img/n&f.jpg" alt="img-n&f" />
      </div>
      <div>
        <h4>Nutrition and Fitness</h4>
      </div>
      <div>
        <p>
          Nutrition and Fitness es un equipo profesional y multidisciplinario
          enfocados en el área de la salud y deporte. <br /><br />
          Se desarrollo su propio sitio web oficial así como una página web en
          Wordpress para publicar contenidos de nutrición, deporte, salud y
          entrenamientos.
        </p>
      </div>
      <div>
        <a type="button" class="btn-primary" href="https://demo-nutrition-and-fitness.herokuapp.com/#/inicio"
          target="_blank">
          Ver más...
        </a>
      </div>
    </article>

    <article>
      <div>
        <img src="assets/img/siprel.jpg" alt="siprel.mx" />
      </div>
      <div>
        <h4>SIPREL</h4>
      </div>
      <div>
        <p>
          Siprel es una plataforma de internet para vender recargas electrónicas o saldo de tiempo aire desde celulares,
          tabletas y computadoras; ganando una comisión por cada compra de saldo. <br><br>
          Con la finalidad de mejorar la experienia del usuario se desarrollo una extensión de siprel.mx para
          navegadores web. Esta extensión servira como una herramienta para poder realizar recargas electrónicas y pago
          de servicios.
        </p>
      </div>
      <div>
        <a type="button" class="btn-primary"
          href="https://chrome.google.com/webstore/detail/siprelmx-recargas-electro/nggnajmhngdalhnkedkdfpajilepfmeg?hl=es"
          target="_blank">
          Ver más...
        </a>
      </div>
    </article>

    <article>
      <div>
        <img src="assets/img/taecel.jpg" alt="taecel.com" />
      </div>
      <div>
        <h4>TAECEL</h4>
      </div>
      <div>
        <p>
          Taecel es un sistema en línea para vender recargas electrónicas o saldo de tiempo aire desde celulares,
          tabletas y computadoras; ganando una comisión por cada compra de saldo. <br><br>
          Con la finalidad de mejorar la experienia del usuario se desarrollo una extensión de taecel.com para
          navegadores web. Esta extensión servira como una herramienta para poder realizar recargas electrónicas y pago
          de servicios.
        </p>
      </div>
      <div>
        <a type="button" class="btn-primary"
          href="https://chrome.google.com/webstore/detail/taecelcom-recarga-electr%C3%B3/opeaihddpcbkkecmmkeedgeofknfbfop?hl=es"
          target="_blank">
          Ver más...
        </a>
      </div>
    </article>

  </section>
</section>
<br /><br />
