<div class="footer-container bg-ink  c-white">
  <div class="footer-contacto  text-size-one">
    <div class="text-center">
      <p class="padding-bottom font-size-two">EMAIL</p>
      <a
        href="mailto:brandocortes10@gmail.com"
        title="Email"
        class="font-size-three"
        ><span class="icon-mail2 padding-right"></span
        >brandocortes10@gmail.com</a
      >
    </div>
    <div class="text-center">
      <p class="padding-bottom font-size-two">ENCUENTRAME EN</p>
      <a
        href="https://www.linkedin.com/in/josé-brando-cortés-martínez-5b4578184"
        target="_blank"
        title="LinkedIn"
        class="padding-right font-size-three"
        ><span class="icon-linkedin"></span
      ></a>
      <a
        href="https://github.com/JoseBrando"
        target="_blank"
        title="GitHub"
        class="font-size-three"
        ><span class="icon-github"></span
      ></a>
    </div>
  </div>
  <div class="footer-autor">
    &copy; <span>{{ anio }} Copyright:</span> Brando Cortés
  </div>
</div>
