<div class="footer-container bg-blue  c-white">
  <div class="footer-contacto  text-size-one">
    <div class="text-center">
      <p class="padding-bottom font-size-two">EMAIL</p>
      <div href="javascript:void(0)" title="Email" class="font-size-three"><span
          class="icon-mail2 padding-right"></span>jose.brando.c.m@gmail.com</div>
    </div>
    <div class="text-center">
      <p class="padding-bottom font-size-two">ENCUENTRAME EN</p>
      <a
        href="https://www.linkedin.com/in/josé-brando-cortés-martínez-5b4578184"
        target="_blank"
        title="LinkedIn"
        class="padding-right font-size-three">
        <span class="icon-linkedin"></span>
      </a>
      <a href="https://github.com/JoseBrando" target="_blank" title="GitHub" class="font-size-three"><span
          class="icon-github"></span></a>
    </div>
  </div>
  <div class="footer-autor">
    <small>&copy; <span>{{ anio }} :</span> Brando Cortés</small>
  </div>
</div>
